@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-neutral-100: #fff;
  --clr-neutral-700: #414040;
  --clr-neutral-900: rgb(22, 22, 22);

  --fs-strings: .8rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


